.ruang1 {
   padding: 30px;
    border: 9px solid rgb(203, 44, 44); 
   list-style-type: none;
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgb(28, 23, 23);
   border-radius: 3px;
}

.ruang2 {
    display:grid;
    justify-content: center;
    align-items: center;
    
}

.ruang3 {
    font-size: 40px;
    display:grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}
.ruang4 {
    display:flex;
    justify-content: center;
    align-items: center;
}